*{margin: 0;padding: 0;}

html,body{
	background-image: url(img/oblaka2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 320px;
	font: 18px 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
#page{height: 100%;}

.main-wrap{
	height: 100%;
	width: 100%
	/*margin-bottom:-55px;*/}

.wrap{
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
nav:after, .wrap:after, .clear:after{
	content:"";
	display: block;
	clear: both;
}
img{width: 125%;}
.page{
	overflow: hidden;
}

/*******************HEADER******************/
header{
	color: #e1e3e9;
	margin-bottom:20px
}

h2{
	color: #01436d;
	font-size: 35px;
	font-family: 'Yesteryear', cursive;
	text-align: center;
}

h2:first-letter {
    font-family: "Alexandra", sans-serif;
    font-size: 40px;
}
h3{
	font-family: 'Lobster', cursive;
	font-size:18px;
	text-align: center;
}

.sky {
  height: 250px;
  background: #007fd5;
  position: relative;
  overflow: hidden;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}


.clouds_one {
  background-image: url("img/zc06.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_one 50s linear infinite;
  -moz-animation: cloud_one 50s linear infinite;
  -o-animation: cloud_one 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_two {
  background-image: url("img/clouds-transparent-background-2.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_two 75s linear infinite;
  -moz-animation: cloud_two 75s linear infinite;
  -o-animation: cloud_two 75s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes sky_background {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}

@-webkit-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}


@-moz-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}
.page_top{
  position: relative;
  height: 250px;
}
.page_top .sky{
    position: absolute;
    width: 100%;
}
.logo-header{
  position: relative;
  z-index: 1;
  text-align: center;
}
.page_top .logo{
  margin: 0;
  display: inline-block;
}
.page_top .enjoy-css{
    position: static;
    margin: 0;
    display: inline-block;
}
div.logo{
	box-sizing: content-box ;
}

.logo {
	margin:0px 0px 0px 190px;
	display: block;
	width:200px;
	height:200px;
	position: relative;	
	z-index: 1;	
	 }
.enjoy-css {
 	 margin-left: 375px;
 	 margin-top: 100px;
 	 position: absolute;
	 z-index: 1;
 	 -webkit-box-sizing: content-box;
 	 -moz-box-sizing: content-box;
 	 box-sizing: content-box;
 	 cursor: pointer;
 	 border: none;
 	 color: #116bb1;
 	 text-align: center;
 	 -o-text-overflow: clip;
  	text-overflow: clip;
  	text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
   transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.enjoy-css:hover {
  color: #d41e54;
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
nav{
	background: #171b6f;
  padding: 15px 0;
}
.menu{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
}
.menu li{padding: 0 10px;}
.menu li a{color: #e1e3e9;text-decoration: none;}
.menu li a:hover{cursor: no-drop;text-decoration: underline;color: #29e8e7;}
.phone{
  position: relative;
  padding: 1px 20px 0 0;}
.phone:before{
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(img/phone.png)no-repeat left top;
	position: absolute;
	left: -30px;
	top: 1px;
}
/*******************MAIN******************/
.main_content.wrap{
  overflow: hidden;
}
main{
  width:58.33333333333333%;
	/*width: 700px*/;
	margin: 0 30.61224489795918% 0 16.66666666666667%;
	color: #ffffff;
	border-radius: 30px 30px 30px 30px;

}
.New2{
	margin: 14px 0px -19px 50px;
	color: #01436d
}
.cont{
	background: rgba(0, 170, 200, 0.5)
}
/*******************ASIDE******************/
aside{
	width: 15%;
	/*padding: 10px;*/
	padding: 0.87%;
	border:2px;
}

.categories{
	background: rgba(28, 127, 143, 0.51);
	border-radius:35px 35px 35px 35px;
}
.categories ul{list-style: none;padding-left: 20px;}
.categories ul li{position: relative;margin: 12px 0;}
.categories ul li a{color: #e0e0e4;text-decoration: none;}
.categories ul li a:hover{
	cursor: no-drop;
	color:#ff6060;
	font-weight: bold;
}
.categories ul li a:after{
    content: "\2665";
    color: #efd3d3;
    font-size: 24px;
    position: absolute;
    left: -24px;
    top: 16px;
}
.categories ul li a:hover:after{
	cursor: no-drop;
	color: #ed7189;}

.popular ul{
	list-style:none;
	}
.popular{
	background: rgba(28, 127, 143, 0.51);
	border-radius:35px 35px 35px 35px;
}
.popular{
	/*width: 280px;*/
  width: 23.33333333333333%;
	/*width: 23.2%*/
}
.popular ul{list-style: none;}
.popular ul li{
    display: inline-block;
    font-size: 0;
    /*width: 116px;*/
    width:41.42857142857143%;
    /*margin: 10px;*/
     margin:2%;
}
.popular ul li a{
    display: block;
}
.new{	
	width: 120px;
	height: 120px;		
	margin: 0px 0px 0px 293px;	
	transition: transform 1s ;
}
div.new:hover{
	transform: rotate(360deg) ;}
p{
	text-align:justify;
	text-indent: 2em;
	margin: 0px 25px 0px 25px;
}
.wed{
	width: 70%;
  padding: 14px 0px 0px 73px;
	border-radius:0px;
}
.categories li{
  padding: 20px 0 0 0;
}
.popular li{
	padding: 0;
}
li img{
	border: transparent;
	width: 100%;
	transition: 0.7s;
}
li:hover img{
	z-index: 1;
	transform: scale(1.6,1.6);
	border-radius: 20px
}

/*******************FOOTER******************/

footer{
	background: #0c1b66;
	color: #b7b6c1;
	padding: 12px;
	margin:15px 0px 0px 0px;}
.copy{}
.social{}
.social a{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background: #ccc url(img/social.png)no-repeat left 0 bottom 0;
	transition: background-position 0.5s;
}
.social a:hover{
	background-position: left 0 bottom -30px;
}
.social  .twitter{
	background-position: left -20px bottom 0;
}
.social  .twitter:hover{
	background-position: left -20px bottom -30px;
}
.social .google_p{
	background-position: left -40px bottom 0;
}
.social .google_p:hover{
	background-position: left -40px bottom -30px;
}
.social .rss{
	background-position: left -60px bottom 0;	
}
.social .rss:hover{
	background-position: left -60px bottom -30px;
}